.footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}

html, body {
    height: 100%;
    margin: 0pt;
    background: #ddddff;
    color: #000033;
    font-family: Sans;
}

.content {
    width: 1024px;
    margin: auto;
}

.footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}

.slider-icon {
    width: 24px;
    height: 24px;
    background: url(darkmode-bright-24.png);
    position: relative;
    top:24px;
    left:-4px;
}