#topmenubar {
    padding: 4px;
    width: 1024px;
    height: 24px;
    margin: auto;
    background: #aaaaff; 
    color: #aaaa99;
}

#horizontalcssmenu ul {
    padding:0;
    margin:0;
    list-style:none;
}

#horizontalcssmenu li {
    float:left;
    position:relative;
    padding-right: 20px;
    padding-left: 8px;
    padding-top: 4px;
    display:block;
    border-right :4px solid #555599;     
}

#horizontalcssmenu ul li a {
    text-decoration: none;
    color: black;
    padding: 4px;
}

#horizontalcssmenu ul li a:hover {
    text-decoration: none;
    color: white;
    background: #444499;
    border-radius: 6px;
}

#horizontalcssmenu li ul {
    display:none;
    position:absolute;
}

#horizontalcssmenu li:hover ul{
    display:block;
    background:#aaaaff;
    height:auto;
    width: auto;
    padding: 4px;
    /*width:8em; */
}

#horizontalcssmenu li ul li{
    clear:both;
    border-style:none;
}