<div style="background:#aaaaff; height:80px;>
    <!--img width="100%" height="60px" src="/resources/images/bd.jpg" -->
    <div class="Content">
    <div style="height:25px;position:relative;top:26px;float:right;" onclick="darkmodeclick();">
    <label class="switch">
        <input type="checkbox" id="darkmode-cb">
        <span class="slider round"></span>
    </label>
    </div>
    <div style="float:right" class="slider-icon"></div>
    <script>
        function darkmodeclick() {
            var x=$("#darkmode-cb").prop('checked'); 
            if(x) {
                Cookies.set('darkmode', true, {SameSite:'Strict'});                 
            } else {
                Cookies.set('darkmode', false, {SameSite:'Strict'});                
            }           
            
            location.reload();            
        };
        $(document).ready(function() {
            console.log('ready');
            var xc = Cookies.get("darkmode");
            var x = (xc=="true")?true:false;
            if(x == undefined) {
                Cookies.set("darkmode", false, {SameSite:"Strict"});
                x = false;
            }
            console.log("x: " + x)
            if(x == true) {  
                $("#darkmode-cb").prop('checked', true);             
            }

            //$("#darkmode-cb").attr('checked', x);
            //$("#darkmode-cb").prop('checked', x);

            var cb = $("#darkmode-cb").prop('checked')?true:false;
            console.log("checked: " + cb);    

            if(x) {
                console.log("Dark Mode");
                $('head').append('<link rel="stylesheet" href="/resources/css/dark.css" type="text/css"></link>');
                $('head').append('<link rel="stylesheet" href="/resources/css/menu.css" type="text/css"></link>');
                $('head').append('<link rel="stylesheet" href="/resources/css/darkmode-slider.css" type="text/css"></link>');
            } else {
                console.log("Day Mode");
                $('head').append('<link rel="stylesheet" href="/resources/css/bright.css" type="text/css"></link>');
                $('head').append('<link rel="stylesheet" href="/resources/css/menu.css" type="text/css"></link>');
                $('head').append('<link rel="stylesheet" href="/resources/css/darkmode-slider.css" type="text/css"></link>');
            }
        });
    </script>
    </div>
</div>