<html>
    <head>
        <script src="/resources/javascript/jquery-3.5.1.min.js"></script>
        <script src="/resources/javascript/js.cookie-2.2.1.min.js"></script>
        <script src="/resources/javascript/jquery.webfonts.2018.js"></script> 
    </head>
    <body>
        {{template "header.xhtml"}}
        {{template "menu.xhtml"}}            
        <div class="Content">
        
        <h1>One, Two</h1>
        <p>One, Two, One, Two, this is just a test!</p>
        <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
        <p>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</p>            
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat consectetur commodo. Mauris tincidunt turpis velit, ac tincidunt nisi blandit sed. Fusce eget urna ut eros feugiat mattis vestibulum quis erat. Curabitur eu ante urna. Suspendisse eget lectus tristique, placerat massa ut, lacinia sem. Aenean laoreet sem at odio placerat, et egestas mauris eleifend. Nam at ligula vehicula, interdum metus ut, tempor ligula. Suspendisse quis massa tellus. Mauris sit amet nibh dolor. Sed sagittis egestas ligula nec mattis. Etiam pharetra urna ut risus dignissim, vel interdum neque hendrerit.</p>
        <p>Donec ut mauris dui. Morbi iaculis, urna eu finibus rutrum, ipsum felis lacinia ligula, id vestibulum orci odio molestie lorem. Sed ac ultrices turpis. Vestibulum suscipit ullamcorper sodales. Nunc sagittis egestas purus, et auctor justo sagittis et. Morbi feugiat tellus quis elit ullamcorper dignissim. Nunc ac dolor non felis tristique venenatis. Morbi molestie fringilla quam vel suscipit.</p>
        <p>Maecenas in semper magna, sit amet congue ipsum. Mauris bibendum quis turpis vel malesuada. Vestibulum rutrum lorem suscipit sodales venenatis. Etiam eget imperdiet ipsum. Cras ullamcorper leo quam, in pretium dui tincidunt ac. Donec pulvinar nisl nunc, vel faucibus sem egestas tincidunt. Vivamus at consequat augue. Etiam a augue vitae odio mollis imperdiet. Phasellus fringilla finibus est non consectetur. Aliquam eget justo ac elit mattis dictum sed ac tortor. Nunc molestie ut tellus pulvinar pharetra. Maecenas ligula neque, commodo vel dui quis, volutpat venenatis nisl. Vivamus finibus vel erat et imperdiet.</p>
        <p>Quisque elementum massa a lacinia aliquam. Ut interdum nisi purus, quis facilisis metus maximus at. Sed aliquet sollicitudin lectus ac congue. Fusce iaculis neque a elit placerat, sed pharetra elit imperdiet. Nulla gravida leo diam, in maximus ipsum blandit vel. Cras dapibus pulvinar ante. Vivamus sed massa nec turpis dignissim vulputate vel vitae odio. Pellentesque congue ac ligula ut convallis.</p>
        <p>Proin nec tristique urna. Nulla a velit in leo convallis posuere. Morbi rutrum, mi rutrum porta hendrerit, nunc dolor facilisis lorem, nec ultricies enim mauris in eros. Mauris rhoncus nulla eu tincidunt vulputate. Suspendisse id aliquet diam. Nullam vestibulum molestie turpis, feugiat auctor tellus efficitur id. Curabitur vel arcu eget massa congue finibus vitae vitae ligula. Proin erat nisi, egestas sit amet ligula vel, imperdiet pretium nisi. Mauris pharetra malesuada arcu, sed imperdiet ipsum maximus et. Integer sed sollicitudin diam, sed malesuada nisi. Praesent varius erat non egestas consequat. In sagittis pretium magna. Maecenas vulputate ipsum non arcu egestas aliquet.</p>
        </div>
        {{template "footer.xhtml"}}
    </body>
</html>