<html>
    <head>
        <script src="/resources/javascript/jquery-3.5.1.min.js"></script>
        <script src="/resources/javascript/js.cookie-2.2.1.min.js"></script>
        <script src="/resources/javascript/jquery.webfonts.2018.js"></script> 
    </head>
    <body>
        {{template "header.xhtml"}}
        {{template "menu.xhtml"}}            
        <div class="Content">
        
        <h1>Login</h1>
        </br>
        <form>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username"><br><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br><br>
            <input type="submit" value="Submit"><br>
        </form>
        <a href="/newuser">Click here to Register</a>
        </div>
        {{template "footer.xhtml"}}
    </body>
</html>