
<div id="topmenubar">
    <div class="horizontalcssmenu" id="horizontalcssmenu">
        <ul id="cssmenu">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a>Menu with option</a>
                <ul>
                    <li><a href="#">Option #1</a></li>
                    <li><a href="#">Option #2</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div style="clear:both;"></div>