<html>
    <head>
        <script src="/resources/javascript/jquery-3.5.1.min.js"></script>
        <script src="/resources/javascript/js.cookie-2.2.1.min.js"></script>
        <script src="/resources/javascript/jquery.webfonts.2018.js"></script> 
        <script src="/resources/javascript/menu.js"></script>
    </head>
    <body>
        {{template "header.xhtml"}}
        {{template "menu.xhtml"}}            
        <div class="Content">
        
        <h1>New User</h1>
        <form>
            <label for="username">Username:</label><br>
            <input type="text" name="username"></input><br><br>
            <label for="password">Password:</label><br>
            <input type="text" name="password"><br><br><br>
            <input type="submit" value="New User"><br>
        </form>
        </div>
        {{template "footer.xhtml"}}
    </body>
</html>